body {
	padding-top: 20vh;
	font-family: arial;
	margin: 0;
	background-color: #ECCB27;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 80px;
	margin: 0;
}

h3 {
	font-size: 20px;
	color: black;
	font-family: arial;
	margin: 0;
	font-weight: normal;
}

button {
	font-size: 20px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	background-color: #545454;
	border: 0px;
	margin: 10px;
}

button.icon {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 0;
	border-bottom-right-radius: 10px;
	background-color: rgba(0,0,0,0);
}

.button_alligner {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.closed {
	display: none;
}

@media only screen
	and (max-device-height : 750px)
	and (max-device-width : 350px) {
		h1 {
			font-size: 40px;
		}

		.button_alligner {
			flex-direction: column;
		}
	}